{% extends "index.html" %}
{% block body %}
{% block header %}
<div class="collapse navbar-collapse" id="navigation">
  <ul class="navbar-nav ml-auto text-center">
    <li class="nav-item ">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/courses">Invest</a>
    </li>
    <li class="nav-item {{active}}">
      <a class="nav-link" href="/notice">Find Investors</a>
    </li>
    <!-- <li class="nav-item @@blog">
      <a class="nav-link" href="/leaderboard">I</a>
    </li> -->
    <li class="nav-item ">
      <a class="nav-link" href="/contact">CONTACT</a>
    </li>
  </ul>
</div>
{% endblock %}

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/notice">Investors</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Investors Details</li>
        </ul>
        <p class="text-lighten">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis saepe omnis officia! Doloribus quae maiores laboriosam praesentium enim fugiat ipsam laudantium assumenda! </p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- notice details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div class="text-center mr-4">
            <div class="p-4 bg-primary text-white">
                <span class="h2 d-block">Kenya</span> 45M
            </div>
          </div>
          <!-- notice content -->
          <div>
            <h3 class="mb-4">Jack Mastio</h3>
            <p>Lorem ipsum dolor sit amet, lectus molestie amet eget varius nulla ultricies, senectus vehicula wisi risus tellus nonummy. Urna volutpat, nunc doloremque risus felis lorem risus. Et suspendisse diam libero pulvinar, tristique ac cras luctus ornare. Quam justo. Non ligula turpis sem, velit dolor luctus venenatis. Eros eget at vitae, wisi diam ut ad convallis, in gravida nunc inceptos sed leo donec, duis dolorem adipiscing arcu facilisis. Purus lorem vulputate et condimentum in felis, porttitor accumsan id bibendum diam varius, lorem diam molestie erat a amet urna, dolor pellentesque lectus justo adipiscing. Laoreet est velit vestibulum, laoreet luctus bibendum sed ornare amet elementum, ullamcorper nibh in sollicitudin donec arcu lorem.</p>
            <p>Quam justo. Non ligula turpis sem, velit dolor luctus venenatis. Eros eget at vitae, wisi diam ut ad convallis, in gravida nunc inceptos sed leo donec, duis dolorem adipiscing arcu facilisis. Purus lorem vulputate et condimentum in felis, porttitor accumsan id bibendum diam varius, lorem diam molestie erat a amet urna, dolor pellentesque lectus justo adipiscing. Laoreet est velit vestibulum, laoreet luctus bibendum sed ornare amet elementum, ullamcorper nibh in sollicitudin donec arcu lorem.</p>
            <ul class="list-styled mb-5">
              <li>Digital Access to Scholarship at Smart</li>
              <li>institutes</li>
              <li>Smart-affiliated hospitals and research</li>
              <li>Smart Catalyst</li>
              <li>Smart Library Portal</li>
              <li>Smart research programs and departments</li>
            </ul>
            <a href="#" class="btn btn-primary">Contact Jack</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /notice details -->

<!-- footer -->
<footer>
  <!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white">Subscribe Now</h3>
          <form action="#">
            <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
              <button type="submit" value="send" class="btn btn-primary">Join</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- footer content -->
 {% endblock %}